{% extends 'vista_principal/bg_vistas.html' %}

{% block content%}
{% load static%}
<div class="min-h-screen bg-gray-900 text-white p-20">
    <h2 class="text-3xl font-bold text-center mb-6">Selecciona un vehículo</h2>

    <form method="POST">
        {% for vehiculo in vehiculos %}
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div
                class="bg-gray-800 p-5 rounded-2xl shadow-lg hover:shadow-2xl transition relative border border-gray-700">

                {% if vehiculo.url_vehiculo %}
                <div class="flex justify-center mb-4">
                    <img src="{% static vehiculo.url_vehiculo %}" alt="Imagen del vehículo"
                        class="rounded-xl shadow-md w-full max-h-48 object-cover object-center">
                </div>
                {% else %}
                <p class="text-center text-sm text-gray-400 mb-4">Este vehículo no tiene imagen disponible.</p>
                {% endif %}

                <h3 class="text-xl font-semibold mb-2 flex items-center">
                    <i class="fas fa-car-side text-yellow-400 mr-2"></i>
                    {{ vehiculo.vehiculo_id }} {{ vehiculo.marca_nombre }} {{ vehiculo.modelo_nombre }}
                </h3>

                <p><i class="fas fa-calendar-alt text-blue-300 mr-2"></i> Año: {{ vehiculo.anio }}</p>
                <p><i class="fas fa-money-bill-wave text-green-400 mr-2"></i> Precio: L. {{ vehiculo.PrecioVenta }}</p>
                <p><i class="fas fa-cogs text-purple-300 mr-2"></i> Descripción: {{ vehiculo.tipo_descripcion }}</p>
                <p><i class="fas fa-tachometer-alt text-red-300 mr-2"></i> Estado: {{ vehiculo.Estado }}</p>

                <input type="hidden" name="vehiculo_id" value="{{ vehiculo.vehiculo_id }}">

                <button type="submit"
                    class="mt-4 w-full bg-yellow-500 hover:bg-yellow-600 text-black font-semibold py-2 rounded-xl transition">
                    Seleccionar
                </button>
            </div>
            {% endfor %}
        </div>
    </form>

</div>
{% endblock%}

{% extends 'vista_principal/bg_vistas.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto p-6">
    <h2 class="text-2xl font-bold mb-6">Contrato Creado</h2>
    <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4" role="alert">
        <p>{{ mensaje_exito }}</p>
    </div>
    <p class="text-blue-200">Fecha: <span id="fecha_actual">{{ fecha_actual|date:"d/m/Y" }}</span></p>
    <a href="{% url 'contrato_venta_view' %}?paso=1" class="px-6 py-2 bg-blue-600 text-white rounded-lg">Crear otro
        contrato</a>
</div>
{% endblock %}