{% extends 'vista_principal/base.html' %}

{% block content %}
{% load static %}
<div class="flex items-center justify-center p-20">
    <div class="p-8 rounded-xl shadow-lg bg-zinc-950/90 text-white">

        <h2 class="text-3xl font-extrabold mb-6 flex items-center gap-3">
            <i class="fas fa-file-signature text-blue-500 text-2xl"></i>
            Confirmar Contrato
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8 text-sm">
            <div class="flex items-center gap-2 bg-zinc-800 p-4 rounded-lg shadow-sm">
                <i class="fas fa-id-badge text-yellow-400"></i>
                <span><strong>Empleado:</strong> {{ empleado.nombre }} {{empleado.apellido}} </span>
            </div>

            <div class="flex items-center gap-2 bg-zinc-800 p-4 rounded-lg shadow-sm">
                <i class="fas fa-user text-blue-400"></i>
                <span><strong>Cliente:</strong> {{ cliente.nombre }}
                    {{ cliente.apellido }}</span>
            </div>

            <div class="flex items-center gap-2 bg-zinc-800 p-4 rounded-lg shadow-sm">
                <i class="fas fa-car text-green-400"></i>
                <span><strong>Vehículo:</strong> {{ vehiculo.marca_nombre }} {{ vehiculo.modelo_nombre }}
                    {{ vehiculo.anio }}</span>
            </div>

        </div>

        <form method="POST" class="space-y-6 text-sm">
            {% csrf_token %}

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <label class="block">
                    <span class="text-white font-semibold flex items-center gap-2">
                        <i class="fas fa-calendar-alt text-blue-400"></i>
                        Fecha del contrato:
                    </span>
                    <input type="date" name="fecha" required
                        class="w-full mt-1 p-3 rounded bg-zinc-700 text-white focus:ring-2 focus:ring-blue-500 outline-none" />
                </label>
                <label class="block">
                    <span class="text-white font-semibold flex items-center gap-2">
                        <i class="fas fa-calendar-alt text-blue-400"></i>
                        Fecha del Inicio contrato:
                    </span>
                    <input type="date" name="fecha_inicio" required
                        class="w-full mt-1 p-3 rounded bg-zinc-700 text-white focus:ring-2 focus:ring-blue-500 outline-none" />
                </label>
                <label class="block">
                    <span class="text-white font-semibold flex items-center gap-2">
                        <i class="fas fa-calendar-alt text-blue-400"></i>
                        Fecha Fin contrato:
                    </span>
                    <input type="date" name="fecha_fin" required
                        class="w-full mt-1 p-3 rounded bg-zinc-700 text-white focus:ring-2 focus:ring-blue-500 outline-none" />
                </label>
                <!-- Debería de ser algo modificado luego de que se crea el contrato -->
                <!-- <label class="block">
                    <span class="text-white font-semibold flex items-center gap-2">
                        <i class="fas fa-calendar-alt text-blue-400"></i>
                        Fecha en que se entrego:
                    </span>
                    <input type="date" name="fecha_entrega_real"
                        class="w-full mt-1 p-3 rounded bg-zinc-700 text-white focus:ring-2 focus:ring-blue-500 outline-none" />
                </label> -->

                <label class="block">
                    <span class="text-white font-semibold flex items-center gap-2">
                        <i class="fas fa-file-contract text-pink-400"></i>
                        Tipo de contrato:
                    </span>
                    <div class="w-full mt-1 p-3 rounded bg-zinc-700 text-white">
                        Alquiler
                    </div>
                </label>

                <label class="block">
                    <span class="text-white font-semibold flex items-center gap-2">
                        <i class="fas fa-tasks text-red-400"></i>
                        Estado del contrato:
                    </span>
                    <select name="estado" required
                        class="w-full mt-1 p-3 rounded bg-zinc-700 text-white focus:ring-2 focus:ring-red-500 outline-none">
                        <option value="Activo">Activo</option>
                        <option value="Finalizado">Finalizado</option>
                        <option value="Pendiente">Cancelado</option>
                    </select>
                </label>

                <label class="block">
                    <span class="text-white font-semibold flex items-center gap-2">
                        <i class="fas fa-dollar-sign text-lime-400"></i>
                        Recargo Incumplimiento:
                    </span>
                    <div class="relative">
                        <span class="absolute inset-y-0 left-0 pl-3 flex items-center text-white font-bold">L.</span>
                        <input type="number" name="recargo_incumplimiento" step="0.01" placeholder="500" required
                            class="w-full pl-8 mt-1 p-3 rounded bg-zinc-700 text-white focus:ring-2 focus:ring-lime-500 outline-none" />
                    </div>
                </label>

                <label class="block">
                    <span class="text-white font-semibold flex items-center gap-2">
                        <i class="fas fa-dollar-sign text-lime-400"></i>
                        Kilometraje Permitido:
                    </span>
                    <div class="relative">
                        <span class="absolute inset-y-0 left-0 pl-3 flex items-center text-white font-bold">Km</span>
                        <input type="number" name="kilometraje" step="0.00" placeholder="2000" required
                            class="w-full pl-12 mt-1 p-3 rounded bg-zinc-700 text-white focus:ring-2 focus:ring-lime-500 outline-none" />
                    </div>
                </label>

                <label class="block">
                    <span class="text-white font-semibold flex items-center gap-2">
                        <i class="fas fa-car text-red-600"></i>
                        Precio Renta por Día:
                    </span>
                    <div class="relative">
                        <span class="absolute inset-y-0 left-0 pl-3 flex items-center text-white font-bold">L</span>
                        <input type="number" name="renta" step="0.01" required value="{{ vehiculo.precio_de_alquiler }}"
                            class="w-full pl-8 mt-1 p-3 rounded bg-zinc-700 text-white focus:ring-2 focus:ring-lime-500 outline-none" />
                    </div>
                </label>

                <label class="block">
                    <span class="text-white font-semibold flex items-center gap-2">
                        <i class="fas fa-notes-medical text-lime-400"></i>
                        Reporte Daños:
                    </span>
                    <input type="text" name="reporte_danios" placeholder="Ingresar reporte del vehículo" required
                        class="w-full mt-1 p-3 rounded bg-zinc-700 text-white focus:ring-2 focus:ring-lime-500 outline-none" />
                </label>

                <!-- Lo mismo que el caso de Fecha de Entrega Real. -->
                <!-- <label class="block">
                    <span class="text-white font-semibold flex items-center gap-2">
                        <i class="fas fa-signature text-cyan-400"></i>
                        ¿Entrega Tardia?:
                    </span>
                    <input type="checkbox" name="es_tardia"
                        class="mt-1 p-3 rounded bg-zinc-700 text-white focus:ring-2 focus:ring-cyan-500 outline-none" />
                </label> -->

                <label class="block">
                    <span class="text-white font-semibold flex items-center gap-2">
                        <i class="fas fa-signature text-cyan-400"></i>
                        ¿Es Extensible?:
                    </span>
                    <input type="checkbox" name="es_extensible"
                        class="mt-1 p-3 rounded bg-zinc-700 text-white focus:ring-2 focus:ring-cyan-500 outline-none" />
                </label>

                <!-- Debe ser requiered -->
                <label class="block">
                    <span class="text-white font-semibold flex items-center gap-2">
                        <i class="fas fa-signature text-cyan-400"></i>
                        Firma del cliente (¿Acepta Contrato?):
                    </span>
                    <input type="checkbox" name="firma" required
                        class="mt-1 p-3 rounded bg-zinc-700 text-white focus:ring-2 focus:ring-cyan-500 outline-none" />
                </label>
            </div>

            <button type="submit"
                class="w-full py-3 bg-blue-600 hover:bg-blue-700 rounded font-bold transition text-white text-lg">
                Finalizar Contrato
            </button>
        </form>
    </div>
</div>
{% endblock %}