<!-- contratos/contrato_exito.html -->
<div class="min-h-screen flex items-center justify-center bg-black text-white">
    <div class="bg-zinc-800 p-10 rounded-xl shadow-xl text-center">
        <h1 class="text-3xl font-bold mb-4">¡Contrato registrado con éxito! 🎉</h1>
        <p class="text-zinc-400 mb-6">Gracias por completar el proceso.</p>
        <a href="{% url 'empleado_view' %}"
            class="px-6 py-2 bg-blue-600 hover:bg-blue-700 rounded-md text-white transition">
            Volver al inicio
        </a>
    </div>
</div>