{% extends 'vista_principal/base.html' %}


{% block content %}
{% load static %}

<div class="flex items-center justify-center min-h-screen mt-10">
    <div
        class="w-full max-w-fit p-6 md:p-8 rounded-xl shadow-md bg-zinc-950/70 text-white max-h-[90vh] overflow-y-auto">
        <h2 class="text-3xl font-bold text-white text-center mb-4">Regístrate</h2>

        <form method="POST" action="{% url 'register' %}" class="space-y-4 text-sm">
            {% csrf_token %}

            <!-- Nombres -->
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3">
                <input class="bg-slate-600 p-1.5 rounded" type="text" name="primer_nombre" placeholder="Primer Nombre"
                    required>
                <input class="bg-slate-600 p-1.5 rounded" type="text" name="segundo_nombre"
                    placeholder="Segundo Nombre">
                <input class="bg-slate-600 p-1.5 rounded" type="text" name="primer_apellido"
                    placeholder="Primer Apellido" required>
                <input class="bg-slate-600 p-1.5 rounded" type="text" name="segundo_apellido"
                    placeholder="Segundo Apellido">
            </div>

            <!-- Teléfono -->
            <div>
                <input class="bg-slate-600 p-1.5 w-full rounded" type="text" name="telefono" placeholder="Teléfono"
                    required>
            </div>

            <!-- Sexo -->
            <div class="flex flex-wrap items-center gap-3">
                <span class="font-semibold">Sexo:</span>

                <label class="cursor-pointer">
                    <input type="radio" name="sexo" value="M" class="peer hidden" required>
                    <div
                        class="peer-checked:bg-neutral-200 peer-checked:text-black border border-gray-300 rounded-xl px-3 py-1 transition-colors">
                        Masculino</div>
                </label>

                <label class="cursor-pointer">
                    <input type="radio" name="sexo" value="F" class="peer hidden" required>
                    <div
                        class="peer-checked:bg-neutral-200 peer-checked:text-black border border-gray-300 rounded-xl px-3 py-1 transition-colors">
                        Femenino</div>
                </label>
            </div>

            <!-- Selects en cascada -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <label class="block mb-1">País:</label>
                    <select class="bg-slate-600 p-1.5 w-full rounded" id="pais_id" name="pais_id" required>
                        <option value="">--Selecciona un país--</option>
                        {% for pais in paises %}
                        <option value="{{ pais.pais_id }}">{{ pais.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label class="block mb-1">Departamento:</label>
                    <select class="bg-slate-600 p-1.5 w-full rounded" id="departamento_id" name="departamento_id"
                        required>
                        <option value="">--Selecciona un departamento--</option>
                        {% for departamento in departamentos %}
                        <option value="{{ departamento.departamento_id }}">{{departamento.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label class="block mb-1">Ciudad:</label>
                    <select class="bg-slate-600 p-1.5 w-full rounded" id="ciudad_id" name="ciudad_id" required>
                        <option value="">--Selecciona una ciudad--</option>
                        {% for ciudad in ciudades %}
                        <option value="{{ ciudad.ciudad_id }}">{{ ciudad.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label class="block mb-1">Colonia:</label>
                    <select class="bg-slate-600 p-1.5 w-full rounded" id="colonia_id" name="colonia_id" required>
                        <option value="">--Selecciona una colonia--</option>
                        {% for colonia in colonias %}
                        <option value="{{ colonia.colonia_id }}">{{ colonia.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Dirección -->
            <div>
                <input class="bg-slate-600 p-1.5 w-full rounded" type="text" name="descripcion"
                    placeholder="Dirección exacta" required>
            </div>

            <!-- Usuario -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <input class="bg-slate-600 p-1.5 rounded" type="email" name="email" placeholder="Correo" required>
                <input class="bg-slate-600 p-1.5 rounded" type="password" name="password" placeholder="Contraseña"
                    required>
            </div>

            <!-- Botón -->
            <div class="text-center pt-2">
                <button
                    class="w-full py-2 bg-cyan-600 rounded-md text-white text-xl hover:bg-green-800 transition-all duration-300"
                    type="submit">
                    Registrar
                </button>
            </div>
        </form>
    </div>
    {% if error_mensaje %}
    <div class="fixed top-0 left-0 right-0 z-50 mt-20 flex justify-center">
        <div class="w-full max-w-4xl bg-red-500 text-white p-4 shadow-lg animate-fade-in">
            <div class="flex justify-between items-center">
                <p class="font-semibold">{{ error_mensaje }}</p>
                <button onclick="this.parentElement.parentElement.remove()" class="text-white hover:text-red-200">
                    &times;
                </button>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}